<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<!--
  vim-anywhere - use Vim whenever, wherever
  Author: Chris Knadler
  Homepage: https://www.github.com/cknadler/vim-anywhere
-->
<dict>
  <key>NSServices</key>
  <array>
    <dict>
      <key>NSMenuItem</key>
      <dict>
        <key>default</key>
        <string>VimAnywhere</string>
      </dict>
      <key>NSMessage</key>
      <string>runWorkflowAsService</string>
    </dict>
  </array>
</dict>
</plist>
